
# Dependency directories
jspm_packages/
bower_components/

# Build directories
dist/
build/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Backend and databases
backend/.env
backend/_env/

# Frontend
frontend/node_modules/
frontend/.env
frontend/package-lock.json
frontend/.next/
frontend/.gitignore