@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #0e0e0e;
  --lamaSky: "#C3EBFA",
  --lamaSkyLight: "#EDF9FD",
  --LamaPurple: "#CFCFFF",
  --LamaPurpleLight: "#F1F0FF",
  --LamaYellow: "#FAE27C",
  --LamaYellowLight: "#FEFCEB",
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--lamaSky);
  background: var(--background);
  font-family: "Nunito", "Inter";
}